* {
    max-width: 1152px;
    //  margin: 0 auto;
    //  text-align: center;

}

li {
    list-style: none;
    padding: 20px;

}

.head-right {
    display: flex;
}

.container {
    display: flex;
    justify-content: end;

}

.box {

    position: relative;
    margin: 0 auto;
}


.logo1 {
    position: absolute;
    top: -60px;
    left: 15px;
}

.logo2 {
    position: absolute;
    bottom: -25px;
    right: 5px;
}

.pic {
    margin-left: 50px;
}