.wrapper {
    max-width: 1152px;
    margin: 0 auto;
    // text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

// * {
//     max-width: 1152px;
//     margin: 0 auto;
//     // text-align: center;
//     font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
// }

// レスポンシブ設定対応
$pc: 1152px;
$sp: 767px;

@mixin pc {
    @media screen and (max-width: ($pc)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

// // レスポンシブ設定対応ここまで


header {

    height: 100px;
    position: relative;
    z-index: 100%;


    @include sp {
        height: 50px;
    }

}

li {
    list-style: none;
    padding: 20px;


    @include sp {

        // display: block;
        font-weight: 900;
        text-decoration: none;
        // margin-left: 100px;
        // padding: 20px;
        // position: relative;
        z-index: 1000;

    }
}



.head-right {
    display: flex;
    margin: 0;

    @include sp {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: end;
    margin-right: 20px;


    @include sp {
        display: none;
    }

}

.box {
    position: relative;
    margin: 0 auto;
    z-index: 2;


    @include sp {
        text-align: center;
    }
}


.logo1 {
    position: absolute;
    top: -100px;
    left: -60px;
    z-index: 100;


    @include sp {

        position: static;
        margin-left: 20px;
        text-align: center;

    }

}


.logo2 {
    position: absolute;
    bottom: -25px;
    right: 5px;


    @include sp {
        width: 50%;
        top: 280px;
        right: 290px;
    }
}

.pic {
    margin-left: 65px;

    @include sp {
        margin: 0;
        width: 100%;
    }
}


p {
    @include sp {
        text-align: center;
        width: 150px;
    }

}



// ハンバーガー線ここから
.nav_toggle {

    display: block;
    position: absolute;
    width: 1.75rem;
    height: 1.5rem;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 1001;
    margin-right: 50px;

}


.nav_toggle i {

    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: transform .5s, opacity .5s;
    padding-right: 20px;

}

.nav_toggle i:nth-child(1) {
    top: 0;
}

.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.nav_toggle i:nth-child(3) {
    bottom: 0;
}



.nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    text-align: center;
}

.nav.show {

    opacity: 50;
    visibility: visible;
    background: rgba(51, 51, 51, 0.7);
    z-index: 1000;
    color: white;
    text-align: center;


}



.nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
    opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

.nav_menu_li a {
    @include sp {
        outline: none;
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-align: center;
        font-size: 30px;
    }
}



.burgar {
    display: none;

    @include sp {
        display: block;
        text-align: right;
        width: 100%;
        z-index: 1;
    }

}



// ハンバーガーここまで


// ===== Latest Articles ===============

.Latest-Articles {
    width: 1024px;

    @include sp {
        width: auto;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        margin: 30px auto;

        @include sp {
            margin: 30px auto 0px;
        }
    }

    .Latest {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0px;

        @include sp {
            display: block;
            margin-top: 0px;
        }

        .Latest-box {
            transition: all .3s;
            width: 300px;
            height: 400px;
            margin: 0;
            margin-top: 30px;

            @include sp {
                margin: 0px auto 20px;
            }

            .box-text {
                height: 120px;
                margin: 5px 10px 30px;

                p {
                    margin: 5px auto 0;
                }
            }

            a {
                position: relative;
                display: block;
                text-decoration: none;
                color: black;
                text-align: end;
                margin: 5px 10px 30px;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    border-bottom: 2px solid black;
                    width: 10%;
                    height: 7px;
                    left: 90%;
                }

                &:hover::after {
                    border-bottom: 2px solid black;
                    width: 38%;
                    height: 7px;
                    left: 62%;
                }
            }
        }

        a {
            position: relative;
            display: block;
            text-decoration: none;
            color: black;
            text-align: end;
            margin: 5px 10px 30px;

            &::after {
                content: '';
                position: absolute;
                display: block;
                border-bottom: 2px solid black;
                width: 8%;
                height: 7px;
                left: 92%;
            }

            @include sp {
                width: auto;
            }
        }
    }
}

// ===== もっと見るボタン ===============
.more-btn {
    margin: 20px auto;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

.Latest .Latest-box:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
    border-color: transparent;
}

// ===== フッター ===============
.footer {
    max-width: initial;
    margin-top: 150px;
    text-align: center;
    background-color: black;
    color: white;

    @include sp {
        margin-top: 10px;
    }

    p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}