@charset "UTF-8";
* {
  max-width: 1152px;
  margin: 0 auto;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

header {
  height: 100px;
  position: relative;
  z-index: 100%;
}
@media screen and (max-width: 767px) {
  header {
    height: 50px;
  }
}

li {
  list-style: none;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  li {
    font-weight: 900;
    text-decoration: none;
    margin-left: 100px;
    z-index: 1000;
  }
}

.head-right {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .head-right {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .container {
    display: none;
  }
}

.box {
  position: relative;
  margin: 0 auto;
}

.logo1 {
  position: absolute;
  top: -60px;
  left: 15px;
}
@media screen and (max-width: 767px) {
  .logo1 {
    position: static;
    margin-left: 20px;
  }
}

.logo2 {
  position: absolute;
  bottom: -25px;
  right: 5px;
}
@media screen and (max-width: 767px) {
  .logo2 {
    width: 50%;
    top: 280px;
    right: 290px;
  }
}

.pic {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .pic {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  p {
    text-align: center;
  }
}

.nav_toggle {
  display: block;
  position: absolute;
  width: 1.75rem;
  height: 1.5rem;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 50px;
}

.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
  padding-right: 20px;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}

.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  text-align: center;
}

.nav.show {
  opacity: 50;
  visibility: visible;
  background: rgba(51, 51, 51, 0.7);
  z-index: 1000;
  color: white;
  text-align: center;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

.burgar {
  display: none;
}
@media screen and (max-width: 767px) {
  .burgar {
    display: block;
    text-align: right;
    width: 100%;
    z-index: 1;
  }
}

.Latest-Articles {
  width: 1024px;
}
@media screen and (max-width: 767px) {
  .Latest-Articles {
    width: auto;
  }
}
.Latest-Articles h1 {
  text-align: center;
  font-size: 30px;
  margin: 30px auto;
}
@media screen and (max-width: 767px) {
  .Latest-Articles h1 {
    margin: 30px auto 0px;
  }
}
.Latest-Articles .Latest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0px;
}
@media screen and (max-width: 767px) {
  .Latest-Articles .Latest {
    display: block;
    margin-top: 0px;
  }
}
.Latest-Articles .Latest .Latest-box {
  transition: all 0.3s;
  width: 300px;
  height: 400px;
  margin: 0;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .Latest-Articles .Latest .Latest-box {
    margin: 0px auto 20px;
  }
}
.Latest-Articles .Latest .Latest-box ul {
  padding: 0;
}
.Latest-Articles .Latest .Latest-box li {
  padding: 0;
}
.Latest-Articles .Latest .Latest-box .box-text {
  height: 120px;
  margin: 5px 10px 30px;
}
.Latest-Articles .Latest .Latest-box .box-text p {
  margin: 5px auto 0;
}
.Latest-Articles .Latest .Latest-box a {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  text-align: end;
  margin: 5px 10px 30px;
}
.Latest-Articles .Latest .Latest-box a::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid black;
  width: 10%;
  height: 7px;
  left: 90%;
}
.Latest-Articles .Latest .Latest-box a:hover::after {
  border-bottom: 2px solid black;
  width: 38%;
  height: 7px;
  left: 62%;
}
.Latest-Articles .Latest a {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  text-align: end;
  margin: 5px 10px 30px;
}
.Latest-Articles .Latest a::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid black;
  width: 8%;
  height: 7px;
  left: 92%;
}
.Latest-Articles .Latest a:hover::after {
  border-bottom: 2px solid black;
  width: 38%;
  height: 7px;
  left: 62%;
}

.more-btn {
  margin: 20px auto;
  text-align: center;
}
.more-btn:hover {
  cursor: pointer;
}

.Latest .Latest-box:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
  border-color: transparent;
}

.footer {
  margin-top: 150px;
  text-align: center;
  background-color: black;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 10px;
  }
}
.footer p {
  padding-top: 20px;
  padding-bottom: 20px;
}/*# sourceMappingURL=style.css.map */